#main {
  background-image: url(/media/forest-7543646_1280.jpg);
  background-position: center;
  background-size: cover;
}

.card {
  box-sizing: border-box;
  border: 1px solid rgb(1, 1, 1);
  background-color: black;
}

.img-fluid {
  height: 200px;
}

a {
  text-decoration: none;
  color: rgb(248, 235, 210);
}
#text {
  color: rgb(197, 195, 191);
}

#audio {
  width: 50%;
}
audio::-webkit-media-controls-panel {
  background-color: rgb(187, 45, 59);
}

#music {
  color: rgb(197, 195, 191);
}
